<% provide(:title, 'About Us')%>
<h1>About Us</h1>
<p>
	I am currently a Computer Science student at the University of Illinois at
	Urbana-Champaign. I decided to create this website as a personal project after taking CS410:Text Information Systems, as a means of learning Ruby on Rails as well as trying out the concepts of content-based filtering and collaborative-based filtering taught in that class. 
</p>
<p>
	I plan on continually making changes to the site layout and adding some sort of integration between your recommended games and current deals on them like steam sales and such. If you have any suggestions for features you would like to see or improvements you think can be made, feel free to email me at <a href="mailto:arjunpgarg@gmail.com">ArjunPGarg@gmail.com</a>. 
</p>




