<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact me, Arjun Garg, for more information about this project, or if you have any suggestions/feedback, at
  <a href="mailto:arjunpgarg@gmail.com">ArjunPGarg@gmail.com</a>. 
</p>