<% provide(:title, 'Help')%>


<h1>Help</h1>
<p>
	To find games you've already played, type their name into the search bar up top and hit the search button. Once you find a game you want to rate in the results, click on that game to go to its page. From there, you can view information about the game, rate it on a scale of 1-10, and later on edit/delete your rating. 
</p>

</p>
	Once you have rated some games, you can visit your profile page and hit the generate recommendations button to get recommendations on games you have not yet played!
</p>






