	<table class = "table table-bordered">
		<caption><h4> Your Recommendations <% @user_likes %></h4></caption>
		<caption><h6> (If your recommendations seem misleading, try rating more games. 
					  The system gets more accurate the more games you rate.)
		</h6></caption>
		<tr> <th>You might enjoy...</th> <th>Users similar to you also liked...</th> </tr>
		<% @i = 0 %>
		<% for @user_like in @user_likes %>
			<tr>
				<td><%= link_to Game.find(@user_like[0]).title, Game.find(@user_like[0])%></td>
				<% if @i < @sim_scores.length %>
										<%@sim_score = @sim_scores[@i]  %>
															<td><%= link_to Game.find(@sim_score[0]).title, Game.find(@sim_score[0])%></td>
															<% @i = @i + 1 %>
				<% else %>
					<td></td>
				<% end %>
			</tr>
		<% end %>
	</table>	